body{
  background :linear-gradient(rgb(70, 11, 124),rgb(224, 127, 0),rgb(75, 75, 233),rgb(231, 76, 76),rgb(167, 116, 6),rgb(202, 230, 49),
  rgb(204, 60, 84));
  height: 1200px;
}
.App{
  text-align: center;
  font-size: 1.5em;
}
